<div class="container">

<h2 class="courses-heading">Hi, <%= User.find_by(id: current_user).email %>
  Please see a list of your available courses: </h2>

  <ul>
    <% @course.each do | course | %>
      <div class="container mt-5">
      <li>

        <p><%= course.name %></p>

        <p><%= course.address %></p>

        <p><%= course.drink %></p>

      </li>

      <% end %>
  </ul>
</div>
