<span class='lead'>
<%= "Pub #{@i=+1} score " %>
<%= number_field_tag "Pub_score[][score]",class: "form-control", placeholder:"score"  %>
<%= submit_tag "submit", class: 'btn btn-primary shadow mt-2' %>
</span>

