<div class="container">
      <h3 > Before you start... </h3>
  <div class="card-pub">
        <br>
          <ul>
            <li>Are you over 18?</li>
            <li>If you play, you agree to drink responsibility</li>
            </ul>
      </div>
      </div>
