<!--The ratings page has been marked as a backlog item-->

<div class="container-courses">
  <div class="card-heading">
    <%= image_tag("rating.png", alt: "Rating Image", style: "width: 200px; height: auto;") %>
    <p>We would really appreciate it if you took the time to rate this app</p>
  </div>
  <%= link_to "Yes", ratings_path, class: "btn btn-primary" %>
  <%= link_to "No", ratings_path, class: "btn btn-secondary" %>
