<div class="container-courses">
  <div class="card-pub">
    <h4>Welcome to Par-tee, the ultimate pub golf game! Embark on a thrilling journey through each course, where every 'hole' is a unique pub with its own challenge. </h4>
    <br>
    <h4>Choose one of our exciting courses, gather your friends, and let the fun begin!
      Who will emerge as the top golfer today?</h4>
  </div>
  <br>
  <div class="d-grid gap-2">
    <%= link_to "Tee off", courses_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
