
<div class="container-courses">
    <div class="card-home">
<!--  <div class="header-section">-->
    <h2>Welcome to Par-tee, the ultimate pub golf game! Embark on a thrilling journey through each course, where every 'hole' is a unique pub with its own challenge. Choose from the exciting courses below, gather your friends, and let the fun begin! Who will emerge as the top golfer today?</h2>
  </div>

</div>
</div>
