<head>
  <title> Par-Tee - The ultimate Pub Golf game!! </title>
</head>

<div class="container-courses">
  <div class="card-pub-green">
    <h1>  Welcome!</h1>
    <h5>Par-tee is the ultimate pub golf game! Embark on a thrilling journey through each course, where every 'hole' is a unique pub with its own challenge. </h5>
    <br>
    <h3>How it works:</h3>
    <h5>Choose one of our exciting courses, gather your friends, and let the fun begin!
      Who will emerge as the top golfer today?</h5>
  </div>
  <br>
  <div class="d-grid gap-2">
    <%= link_to "Tee off", courses_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
