
<div class="container-courses">

      <h5>Welcome! Choose from the courses below to get started:</h5>

    <% @courses.each do |course| %>
          <p><%= link_to course.name, course_path(course) %></p>
      <div class="card-map">
        <div style="width: 100%; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= params["#{course.name}"].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
<div class="d-grid gap-2">
    <%= link_to "Rate this app", ratings_path, class: "btn btn-primary" %>
  </div>
</div>
</div>
