
<div class="container-courses">

  <div class="container">
      <h5>Welcome! Choose from the courses below to get started:</h5>

    <% @courses.each do |course| %>
         <p><%= link_to course.name, course_path(course) %></p>
      <div class="card-map">

        <div style="width: 480px; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= params["#{course.name}"].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  </div>
    <%= link_to "Rate this app", ratings_path, class: "btn btn-primary" %>
</div>
