


<div class="container-parent">
  <%= image_tag("logo_page.png", alt: "Par-tee Image", style: "width: 200px; height: auto;") %>
  <div class="container">
    <div class="card-heading">
      <h5>Welcome to Par-tee, the Pub golf drinking game! Choose from the courses below:</h5>
    </div>

    <% @courses.each do |course| %>
      <div class="card-pub">

         <h3><%= link_to course.name, course_path(course) %></h3>
        <div style="width: 300px; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= params["#{course.name}"].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  </div>
</div>
