.avatar {
  width: 65px;
  border-radius: 5px;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;

}
.avatar-square {
  width: 40px;
  border-radius: 90px;

}
