.btn-primary {
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Roboto";
}
.btn-secondary{
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Roboto";
}

.btn-light {
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Roboto";
}

.btn-warning {
  // box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Roboto";
  color: white;
  background-color: #c77e05;
  border-color: #c77e05;
}

// .btn-bd-primary {
//   --bs-btn-font-weight: 600;
//   --bs-btn-color: var(--bs-white);
//   --bs-btn-bg: var(--bd-violet);
//   --bs-btn-border-color: var(--bd-violet);
//   --bs-btn-border-radius: .5rem;
//   --bs-btn-hover-color: var(--bs-white);
//   --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
//   --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
//   --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
//   --bs-btn-active-color: var(--bs-btn-hover-color);
//   --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
//   --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
// }
