
.btn-primary {
  box-sizing: border-box;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  font-family: "inconsolata";
}
.btn-secondary{
  // background-color:rgb(231, 136, 3);
  // width: 400px;
  color: white; // Uncomment this line
  border-radius: 25px;
  font-size: 20px; // Uncomment this line
  font-family: "inconsolata"; // Uncomment this line
}
