.btn-primary {
  background-color: gray;
  color: white; // Uncomment this line
  border-radius: 25px;
  font-size: 20px; // Uncomment this line
  font-family: "Courier"; // Uncomment this line
}

.btn-secondary{
  background-color:white;
  color: rgb(231, 136, 3); // Uncomment this line
  border-radius: 25px;
  font-size: 20px; // Uncomment this line
  font-family: "Courier"; // Uncomment this line
}
