
.card-pub,
.card-subheading,
.card-map,
.card-heading {
  width: 100%; /* Set width to 100% for mobile screens */
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  h4 {
    color: #04843b;
    font-weight: bolder ;
  }
}

.card-pub {
  background: rgba(244, 243, 243, 0.767);
  padding: 4px;
  h6 {
    color: #04843b;
  }
}

.card-pub-link {
  color: #04843b;
  font-weight: bold;
}

.card-nav-link {
  color: white;
}
.card-subheading {
  background: white;
  padding: 4px;
}

.card-map {
  background: white;
  padding: 4px;
}

.card-map > div {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-heading {
  background: rgba(238, 238, 238, 0.681);
  // background: (244, 243, 243, 0.767);
  padding: 4px;
}

/* Apply styles for smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .card-pub,
  .card-subheading,
  .card-map,
  .card-heading {
    width: 100%;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
