
.card-pub,
.card-subheading,
.card-map,
.card-heading {
  width: 100%; /* Set width to 100% for mobile screens */
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.card-pub {
  background: rgb(244, 243, 243);
  padding: 4px;
}

.card-subheading {
  background: white;
  padding: 4px;
}

.card-map {
  background: white;
  padding: 4px;
}

.card-map > div {
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-heading {
  background: rgb(238, 238, 238);
  padding: 4px;
}

/* Apply styles for smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
  .card-pub,
  .card-subheading,
  .card-map,
  .card-heading {
    width: 100%;
  }
}
