.container-parent {
  // width: 310px;
// height: 900px;
// margin: 0 auto;
margin-left: 20px;
border-radius: 3px;
// display: flex;
// padding: 2px 16px;
background-color: white;
color: navy;
}

  .container-map {
    width: 290px;
  // flex: 1;
  // position: sticky;

  border-radius: 3px;
  }
