.container-parent {
// width: 950px;;
// height: 900px;
// margin: 0 auto;
margin-left: 20px;
border-radius: 3px;
// display: flex;
// padding: 2px 16px;
background-color: white;
color: navy;
}

  .container-map {
  // flex: 1;
  // position: sticky;

  border-radius: 3px;
  }
