
.courses-heading {
  font-size: 24px;
  margin-bottom: 5px;
}

.courses-subheading {
  font-size: 18px;
}

.courses-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.course-info {
  font-size: 16px;
}

.course-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.course-location {
  margin-bottom: 5px;
}

.course-pubs {
  color: #666;
}
