<div class="container-courses">
  <div class="card-pub" >
    <div class="card-pub-link">
      <strong><%= @pub.name%> </strong></div>
    <p class="pub-address"><%= @pub.address %></p>
    <p class="pub-drink"><%= @pub.drink %></p>
    <%= image_tag @pub.image, width: 300, height: 200 %>
  </div>
</div>
