<div class="container-courses">
  <!--<div class="container-parent">-->
     <!-- <div class="card-heading">-->

      <div class="card-pub">
    <strong><%= @pub.name%></strong>
    <br>
<!--      <p class="pub-name"><%#= @pub.name  %></p>
-->       <p class="pub-address"><%= @pub.address %></p>
<!--      <p class="pub-image"><%#= pub.image %></p>
-->       <p class="pub-drink"><%= @pub.drink %></p>
      </div>
  </div>
<!--</div>-->
<!--</div>-->
