<div class="container-courses">
  <div class="container-parent">
    <%= @pub.name%>
      <div class="card-pub">
<!--      <p class="pub-name"><%#= @pub.name  %></p>
-->       <p class="pub-address"><%= @pub.address %></p>
<!--      <p class="pub-image"><%#= pub.image %></p>
-->       <p class="pub-drink"><%= @pub.drink %></p>
      </div>
  </div>
</div>
